# Copyright 2022 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# UltraDebug permissions
## Unprogrammed UltraDebug (FT4232H default)
SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", \
  MODE="0664", GROUP="plugdev"

## Programmed UltraDebug (UltraDebug assigned PID)
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="0304", \
  MODE="0664", GROUP="plugdev"

# Disable modem manager so we don't get garbage characters
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="0304", \
  ENV{ID_MM_DEVICE_IGNORE}="1"

# UltraDebug load ftdi_sio kernel driver
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="0304", \
  RUN+="/bin/sh -c 'modprobe ftdi_sio && echo 18d1 0304 > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"

# UltraDebug named UARTs
## Target UART (comes out the digital I/O header)
## Symlinks: /dev/ttyUltraTarget[0-9]+ and
## /dev/ttyUltraTarget_<UltraDebug serial number>
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="18d1", \
  ENV{ID_MODEL_ID}=="0304", ATTRS{bInterfaceNumber}=="02", MODE="0664", \
  SYMLINK+="ttyUltraTarget$number", \
  SYMLINK+="ttyUltraTarget_$env{ID_SERIAL_SHORT}"
## UltraDebug Console (connects to the soft core inside the FPGA)
## Symlinks: /dev/ttyUltraConsole[0-9]+ and
## /dev/ttyUltraTarget_<UltraDebug serial number>
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="18d1", \
  ENV{ID_MODEL_ID}=="0304", ATTRS{bInterfaceNumber}=="03", MODE="0664", \
  SYMLINK+="ttyUltraConsole$number", \
  SYMLINK+="ttyUltraConsole_$env{ID_SERIAL_SHORT}"
