ACTION!="add", GOTO="media_end"
SUBSYSTEM!="video4linux", GOTO="media_end"

ATTR{name}=="mtk-vcodec-dec", SYMLINK+="video-dec0"
ATTR{name}=="mtk-vcodec-enc", SYMLINK+="video-enc0"
ATTR{name}=="mtk-venc-vp8", SYMLINK+="video-enc1"
ATTR{name}=="mtk-mdp:m2m", SYMLINK+="image-proc0"
ATTR{name}=="mtk-jpeg-dec", SYMLINK+="jpeg-dec"

LABEL="media_end"
