# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="add", SUBSYSTEM=="hid",  \
  DEVPATH=="/devices/platform/soc/11e01000.i2c/i2c-4/4-*/*", \
  RUN+="/sbin/initctl emit --no-wait hammer-device-added"
