# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# M.2 modem card reset is driven by the net LTE_FW_RST_L connected to AGPIO89
# it is exported by the kernel gpiochip256 as 345, giochip512 as gpio601
# or gpiochip768 as 857
ACTION=="add", DEVPATH=="/devices/platform/AMD0030:00/gpiochip0/gpio/gpio345", \
    RUN+="/bin/chown modem:modem /sys/class/gpio/gpio345/direction /sys/class/gpio/gpio345/value"
ACTION=="add", DEVPATH=="/devices/platform/AMD0030:00/gpiochip0/gpio/gpio601", \
    RUN+="/bin/chown modem:modem /sys/class/gpio/gpio601/direction /sys/class/gpio/gpio345/value"
ACTION=="add", DEVPATH=="/devices/platform/AMD0030:00/gpiochip0/gpio/gpio857", \
    RUN+="/bin/chown modem:modem /sys/class/gpio/gpio857/direction /sys/class/gpio/gpio857/value"
